
.BubbleMessageItemUp {
    position: absolute;
    background-color: rgba(100, 100, 150, 0.5);
    border-radius: 5px;
    padding: 3px 10px;
    color: rgb(200, 200, 200);
    opacity: 0;
    animation: BubbleMessageItemUpKeyframes 2s ease 1;
}

@keyframes BubbleMessageItemUpKeyframes {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -50px;
        opacity: 0;
    }
}